/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */
@font-face {
  font-family: "Inter"; /* Provide a name for your font */
  src: url("/public/Inter-SemiBold.ttf") format("truetype"); /* Replace '/path/to/font.ttf' with the actual path to your .ttf file */
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  place-items: center;
  background-image: url("/public/assets/cft.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inter", sans-serif;
}

p {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
}
