@font-face {
  font-family: "Inter"; /* Provide a name for your font */
  src: url("/hoves.otf") format("truetype"); /* Replace '/path/to/font.ttf' with the actual path to your .ttf file */
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  place-items: center;
  /* background-color: #eeeee4; */
  /* background-image: url("/assets/dell.png"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  font-family:Roboto, sans-serif;
  background: hsla(212, 35%, 58%, 1);

background: linear-gradient(90deg, hsla(212, 35%, 58%, 1) 0%, hsla(218, 32%, 80%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(212, 35%, 58%, 1) 0%, hsla(218, 32%, 80%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(212, 35%, 58%, 1) 0%, hsla(218, 32%, 80%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#6D90B9", endColorstr="#BBC7DC", GradientType=1 );
}

p {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 16px;
}
