@font-face {
  font-family: "Colgate"; /* Font name */
  src: url("/ColgateReadyBETA5-Bold.otf") format("opentype");
  /* Ensure that '/ColgateReadyBETA5-Bold.otf' is the correct path to your font file */
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  place-items: center;
  background-color: #d61e24;
  /* background-image: url("/Login.png"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Colgate", sans-serif;
  color: aliceblue;
}

input::placeholder {
  color: #DF1E24; /* Change the placeholder color for the 'name' field */
}